
a:link {
    text-decoration: none;
}

.alert-info {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background: #D6FEFE;
     border: lightgray solid 1px;
     padding: 10px 0 ;
     font-family: sans-serif;
    }

.alert-info > a {
    color: black;
}

 h1 {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     font-family: sans-serif;
     font-size: 50px;
     margin: 10px 0;
 }

 .nav-links {
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     font-family: sans-serif;
     list-style: none;
     text-decoration: none;
 }

 li{
     background: lightgray;
    padding: 15px;
     width: 100%;
     margin:  10px 0;
     display: flex;
     justify-content: center;
     text-decoration: underline;
 }

 img{
     width: 100%;
     height: auto;
 }

 .header-img{
     display: flex;
     justify-content: center;
 }

 .main{
     font-family: sans-serif;
 }

 .sub-section{
     margin: 60px 0;
     font-family: sans-serif;
     font-style: italic;
 }

 footer {
     width:100%;
     margin-top: 100px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }

#social-media-links {
    margin: 0;
}

 .star{
     height: 2em;
     width: 2em;
 }

@media screen and (min-width:992px) {
    .alert-info  {
        visibility: hidden;
        position: absolute;
    }

    body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    li {
        background: none;
    }

    img{
        display: flex;
        width: 100%;
        height: auto;
    }

    .sub-section{
        width: calc(33% - 20px);
        margin: 0px 10px ;
    }

    .main{
        width: calc(66% - 20px);
        margin: 0px 10px ;
    }

.header-img{
    display: flex;
    justify-content: center;
}

.star {
    display: inline;
}

}
